<div class="row">
    
    <h2>Utilisateurs</h2>
    

    <div class="pull-right">

    <a href="/admin/userCreate" class="btn btn-default btn-success btn-md" data-toggle="modal" ><i class="glyphicon glyphicon-plus"></i> Ajouter</a>
        
    </div>    

</div>    
    
    
    <div class="row">
        
        <table class="table table-bordered table-striped">
            <thead >
                <tr class="bg-info ">
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date de création</th>
                </tr>
            </thead>
            
            <tbody id="list-itens">
            <% users.forEach(function(user){ %>                
                <tr>
                    <td style="width:140px; text-align: center">
                        <a href="/admin/adminUserEdit/<%=user.id%>" class="btn btn-sm btn-default" ><i class="icon-trash glyphicon glyphicon-edit text-primary"></i></a>
                        <a href="/admin/adminUserDelete/<%=user.id%>" onclick="getVisible()" class="btn btn-sm btn-default"><i class="icon-trash glyphicon glyphicon-trash text-danger"></i></a>
                    </td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.createdAt %></td>
                </tr>
            <% }); %>    
            </tbody>    
            
        </table>
        
        
        
    </div>

    <div style="visibility: hidden" id="flash-delete-user" class="row">
    	<div class="alert alert-danger">
  			<strong>Utilisateur Supprimé !!</strong>
		</div>	
    </div>
 <script type="text/javascript">
 	function getVisible(){
 		document.getElementById("flash-delete-user").visibility = visible;	
 	}
 	
 </script>
